# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Model outputs
outputs/
adapters/

# Dataset
data/

# Database
database/*.sqlite
database/*.db

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db